<a href="https://colab.research.google.com/github/rajeevfromkrec/NLP/blob/master/sqllite%20sql%20practice%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [3]:
print(mylist)

['a', 'b', 'c', 'e', 'd', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [4]:
print(myarr)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25]

In [8]:
for i in zip(mylist,myarr):
  print(i)

('a', 0)
('b', 1)
('c', 2)
('e', 3)
('d', 4)
('f', 5)
('g', 6)
('h', 7)
('i', 8)
('j', 9)
('k', 10)
('l', 11)
('m', 12)
('n', 13)
('o', 14)
('p', 15)
('q', 16)
('r', 17)
('s', 18)
('t', 19)
('u', 20)
('v', 21)
('w', 22)
('x', 23)
('y', 24)
('z', 25)

In [10]:
test1=dict(zip(mylist,myarr))

In [13]:
test1

{'a': 0,
 'b': 1,
 'c': 2,
 'd': 4,
 'e': 3,
 'f': 5,
 'g': 6,
 'h': 7,
 'i': 8,
 'j': 9,
 'k': 10,
 'l': 11,
 'm': 12,
 'n': 13,
 'o': 14,
 'p': 15,
 'q': 16,
 'r': 17,
 's': 18,
 't': 19,
 'u': 20,
 'v': 21,
 'w': 22,
 'x': 23,
 'y': 24,
 'z': 25}

In [12]:
test1.items()

dict_items([('a', 0), ('b', 1), ('c', 2), ('e', 3), ('d', 4), ('f', 5), ('g', 6), ('h', 7), ('i', 8), ('j', 9), ('k', 10), ('l', 11), ('m', 12), ('n', 13), ('o', 14), ('p', 15), ('q', 16), ('r', 17), ('s', 18), ('t', 19), ('u', 20), ('v', 21), ('w', 22), ('x', 23), ('y', 24), ('z', 25)])

In [18]:
import pandas as pd

test2=pd.Series(test1)

In [19]:
test2.shape

(26,)

In [22]:
test2[:1]

a    0
dtype: int64

In [29]:
test3=pd.DataFrame(test2,columns=['al'])

In [30]:
test3

   al
a   0
b   1
c   2
e   3
d   4
f   5
g   6
h   7
i   8
j   9
k  10
l  11
m  12
n  13
o  14
p  15
q  16
r  17
s  18
t  19
u  20
v  21
w  22
x  23
y  24
z  25

In [31]:
ord("G")

71

In [33]:
chr(105)

'i'

In [34]:
import sqlite3

In [35]:
import pandas as pd

In [36]:
!pip install db-sqlite3

Collecting db-sqlite3
  Downloading https://files.pythonhosted.org/packages/ff/00/e1f3d7bf1e0bff7c0574c0d5535c041e139d4ce43db196147e4c62f52ed5/db-sqlite3-0.0.1.tar.gz
Collecting db
  Downloading https://files.pythonhosted.org/packages/a9/22/f65d64c83e63790b3273c6adb3bff338ad594f46d84b41bd1f94593b40a6/db-0.1.1.tar.gz
Collecting antiorm
  Downloading https://files.pythonhosted.org/packages/0b/f8/71baa4824d9666c1be51d117119579a97f461ddbded48b2e01a6ad0554b5/antiorm-1.2.1.tar.gz (171kB)
     |████████████████████████████████| 174kB 2.7MB/s
Building wheels for collected packages: db-sqlite3, db, antiorm
  Building wheel for db-sqlite3 (setup.py) ... done
  Created wheel for db-sqlite3: filename=db_sqlite3-0.0.1-cp36-none-any.whl size=1797 sha256=6f95864fc27768dfc8aeb7e51879ffd687d8d3da1603919cb11d7954c61ca8db
  Stored in directory: /root/.cache/pip/wheels/e0/f8/cb/08e3a3a63bdea9ac3a0cccd140636b6cf94e3fb7df1070b12e
  Building wheel for db (setup.py) ... done
  Created wheel for db: filename=db-0.1.1-cp36-none-any.whl size=3894 sha256=812093bfcb8104291651c0d8e253a4e901aeba6408edd2be46913c6f784a93c0
  Stored in directory: /root/.cache/pip/wheels/30/eb/ba/237fa002d1d1b2e73cedcefd26a9db37c4b72c7e5156ea0501
  Building wheel for antiorm (setup.py) ... done
  Created wheel for antiorm: filename=antiorm-1.2.1-cp36-none-any.whl size=31664 sha256=bc46b2c66491b75bff2e1564e9180473ff9325a966568a7e6c034156835094e5
  Stored in directory: /root/.cache/pip/wheels/b0/91/4d/f8fe808786ff1cda9e7e99e1b1bbda9196ab26786017965313
Successfully built db-sqlite3 db antiorm
Installing collected packages: antiorm, db, db-sqlite3
Successfully installed antiorm-1.2.1 db-0.1.1 db-sqlite3-0.0.1

In [1]:
import sqlite3
db=sqlite3.connect('testing.db')

In [4]:
db.execute('create table result(name text, phone text)')

In [5]:
db.execute('''CREATE TABLE Ages ( 
  name VARCHAR(128), 
  age INTEGER
)''')

In [11]:
db.execute('''INSERT INTO Ages (name, age) VALUES ('Berlin', 32)''')
db.execute('''INSERT INTO Ages (name, age) VALUES ('Aibidh', 20)''')
db.execute('''INSERT INTO Ages (name, age) VALUES ('Arin', 30)''')
db.execute('''INSERT INTO Ages (name, age) VALUES ('Mikka', 21)''')
db.execute('''INSERT INTO Ages (name, age) VALUES ('Kitana', 31)''')

In [14]:
 for row in db.execute('''SELECT hex(name || age) AS X FROM Ages ORDER BY X'''):
   print(row)

('4169626964683230',)
('4172696E3330',)
('4265726C696E3332',)
('4B6974616E613331',)
('4D696B6B613231',)